<div class="header">
  <div class="logo">
    <%= image_tag 'odaiba-logo_inverted_icon.png' %>
  </div>
</div>
<div class="wrapper">
  <div class="form">
  <div class="grey-header">
    <h3>Create a New Work Group</h3>
  </div>
    <div class="form-text">
      <%= simple_form_for @work_group do |f| %>
        <%= simple_fields_for :no_model_fields do |n| %>
          <h3>Emails</h3>
          <p>Please write emails of session participants. Please separate by a single empty space. After submitting all participants will receive an email with url and password</p>
          <%= n.input_field :emails %> 
          
          <h3>Worksheet URL</h3>
          <p>Paste image url of an online worksheet, or one of the below</p>
          <%= n.input_field :worksheet_url %>
          <% @worksheet_urls.each do |url| %>
            <li><%= url %></li>
          <% end %>
        <% end %>

        <h3>Start at</h3>
        <%= f.input_field :start_at %>
        <h3>Turn Time</h3>
        <p>Length of turn for single participant in minutes</p>
        <%= f.input_field :turn_time %>
        <%= f.submit "Create Work Group", id: "form-submit"%>
      <% end %>
    </div>
  </div>
</div>
